@media screen {
body {
	margin: auto;
	width: 100%;
}
.logo{
	width: 99%;
	text-align: center;	

}
.logo img{
	width: 15% ;
	height: 10%;
	border-radius: 50%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.navbar{
	background-color: #7A496A;
	width: 100%;
	height: 30%;
	text-align: center;
	font-weight: bold;
}
.navbar button{
	background-color: transparent;
	border: none;
	font-size:1.2vw;
	height: 40px;
	width: 10%;
	color: #BCBEC0;
}
.navbar a{
	text-decoration: none;
}
.navbar button:hover {
	background-color: white;
	color: #7A496A;
}
.web-body{
	width: 100%;
	height: 60%;
}
.web-body img{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.web-body h1{
	position: absolute;
	display: flex;
	color: white;
	font-size:5vw;
	width: 30%;
	padding-left: 5%;
	margin: 0px;
	bottom: 0px;
	top: 8em;
}
#message input, #message textarea{
	border-radius: 5px;
	height: 32px;
	width: 160%;
	margin-left: 12%;

}
.CONTACT{
	height: 350px;

}
#message{
	width: 50%;
	float: left;
	margin-left: 9em;
	margin-right: 10px;
	text-decoration: none;
	padding-top: 20px;
	font-family: "Trebuchet MS";
	display: flex;
}
#message button{
	margin-left: 90px;
	color: white;
	background-color: #00B6A6;
	border-radius:5px;
	text-decoration: none;
	width: 40%;
	height: 40px;
}
#map{
	width: 30%;
	position: absolute;	
	margin-top: 1%;
	height: 50%;
	display: flex;
	right: 0px;
	margin-right: 8em;
	margin-left: 10px;
}
.footer-icon{
	width: 80%;
	padding-top: 12em;
	padding-left: 8em;
}
.footer img{
	border-radius: 50%;
	width: 2%;
}
.footer{
	width: 100%;
	height: 330px;
	text-align: center;
	background-color: #7A496A;


}
.nav-bar{
	width: 9%;
	text-decoration: none;
	float: left;
	margin:0 auto;
	margin-left: 17em;
	margin-top: 30px;

}

.nav-bar a{
	text-decoration: none;
	color: #c4c5c5;
	font-size:1.3vw;
	text-align: left;
	line-height: 1.9;
	float: left;
}
.nav-bar label{
	font-size: 1.4vw;
	color: white;
	text-align: left;
	font-weight: bold;
	float: left;
}
.nav-bar1{
	margin-left: 10em;
	width: 9%;
	text-decoration: none;
	float: left;
	margin-top: 30px;

}
.nav-bar1 a{
	text-decoration: none;
	color: #c4c5c5;
	font-size:1.3vw;
	text-align: left;
	line-height: 1.9;
	float: left;
}
.nav-bar1 label{
	font-size: 1.4vw;
	color: white;
	text-align: left;
	font-weight: bold;
	float: left;
}

/* Gallary */

.GALLARY_container{
  display: grid;
  grid-template-columns: auto auto auto;  
}
.GALLARY_container div{

	padding-top: 20px;
	padding-bottom: 30px;
}

.item1{
  grid-column-start: 1;
  grid-column-end: 2;
  width: 350px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0px;

}

.item1 img{
  	width: 100%;
  	height: 100%;
  	border-radius: 8% / 50%;
  	border: 1px #D52685 solid; 
}
#item2{
	width: 350px;
 	height: 240px;


}
#item2 h1{
	font-family: 'Lucida Handwriting';
	font-size: 2vw;
	color: #7A496A;
	margin-top: 80px;
	margin-left: 25px;

}
#item2 button{
	background-color: #D52685;
	border: none;
	width: 130px;
	height: 40px;
	color: white;
	border-radius: 20px;
	font-family: "Trebuchet MS";
	font-size: 19px;
	text-align:center;
	margin-left: 50px;
	margin-top: 20px;
}
/* pic */

#contactus input, #contactus textarea{
	border-radius: 5px;
	height: 32px;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.8);
	padding-left: 0px;

}
#contactus b{
	color: white;
	font-size: 1.2vw;
}
#contactus{
	width: 30%;
	float: left;
	margin-left: 6em;
	text-decoration: none;
	font-family: "Trebuchet MS";
	margin-top: 20px;

}
#contactus button{
	background-color: #7A496A;
	border-radius:5px;
	text-decoration: none;
	width: 25%;
	height: 40px;
	text-align: center;
	font-size: 1vw;

}

.grid{
	display: grid;
	grid-template-columns: auto auto auto;
	border-color: red;
	grid-column-gap: 20px;
	padding-left: 20px;
	text-align: center;
	padding-right: 20px;
	padding-top: 20px;

}
.grid-item{
	font-family: 'Helvetica';
	color: #7A496A;
}
.grid-item img{
	width: 80%;
	height: 175px;
}
.grid-item button{
	margin-bottom: 10px;
	text-decoration: none;
	background-color: #D52685;
	border: none;
	border-radius: 20px;
	color: white;
	width: 90px;
	height: 40px;
	font-family: 'Helvetica';}
}

@media (max-width: 600px) {
  body {
    background-color: olive;
  }
.nav-bar{
	width: 9%;
	margin:0 auto;
	margin-left: 5px;
	margin-top: 30px;

}
.nav-bar1{
	padding-left: 0.1em;
	width: 9%;
	text-decoration: none;
	margin-left: 70px;
	margin-top: 30px;

}
#contactus{
	width: 30%;
	padding-left: 0.1em;
	margin-left: 0px;
	text-decoration: none;
	font-family: "Trebuchet MS";
	margin-top: 20px;

}
.footer-icon{
	width: 80%;
	padding-top: 12em;
	padding-left: 3em;
}
#message{
	width: 50%;
	float: left;
	margin-left: .4em;
	margin-right: 10px;
	text-decoration: none;
	padding-top: 20px;
	font-family: "Trebuchet MS";

}
#map{
	width: 30%;
	margin-top: 1%;
	height: 50%;
	margin-left: 19em;
	margin-right: 0px;
}

}
